*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container{
    max-width: 1140px;
    margin: auto;
    padding: 0px 20px;
}
.services_main{
    margin: 100px 0px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 768px) {
    .services_main{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 578px) {
    .services_main{
        grid-template-columns: repeat(1, 1fr);
    }
}